In [37]:
import pandas as pd

In [38]:
url = 'https://raw.githubusercontent.com/panicpotatoe/dataset/master/automobile.csv'
df = pd.read_csv(url)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          202 non-null    int64
 1   normalized-losses  165 non-null    float64
 2   make               202 non-null    object
 3   fuel-type          202 non-null    object
 4   aspiration         202 non-null    object
 5   num-of-doors       200 non-null    object
 6   body-style         202 non-null    object
 7   drive-wheels       202 non-null    object
 8   engine-location    202 non-null    object
 9   wheel-base         202 non-null    float64
 10  length             202 non-null    float64
 11  width              202 non-null    float64
 12  height             202 non-null    float64
 13  curb-weight        202 non-null    int64
 14  engine-type        202 non-null    object
 15  num-of-cylinders   202 non-null    object
 16  engine-size        202 non-null    int64
 17  fuel-system        202 non-null    object
 18  bore               202 non-null    object
 19  stroke             202 non-null    object
 20  compression-ratio  202 non-null    float64
 21  horsepower         202 non-null    object
 22  peak-rpm           202 non-null    object
 23  city-mpg           202 non-null    int64
 24  highway-mpg        202 non-null    int64
 25  price              202 non-null    int64
dtypes: float64(6), int64(6), object(14)
memory usage: 41.2+ KB

In [40]:

df_part2 = df[['length', 'width', 'height', 'curb-weight', 'num-of-cylinders', 'engine-size', 'bore', 'stroke', 'compression-ratio','horsepower','price']]
df_part2

,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,compression-ratio,horsepower,price
0,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,13495
1,168.8,64.1,48.8,2548,four,130,3.47,2.68,9.0,111,16500
2,171.2,65.5,52.4,2823,six,152,2.68,3.47,9.0,154,16500
3,176.6,66.2,54.3,2337,four,109,3.19,3.4,10.0,102,13950
4,176.6,66.4,54.3,2824,five,136,3.19,3.4,8.0,115,17450
...,...,...,...,...,...,...,...,...,...,...,...
197,188.8,68.8,55.5,3049,four,141,3.78,3.15,8.7,160,19045
198,188.8,68.9,55.5,3012,six,173,3.58,2.87,8.8,134,21485
199,188.8,68.9,55.5,3217,six,145,3.01,3.4,23.0,106,22470
200,188.8,68.9,55.5,3062,four,141,3.78,3.15,9.5,114,22625
201,188.8,68.9,55.5,3062,four,141,3.78,3.15,9.5,114,22625

In [41]:
df_part2.groupby('num-of-cylinders')['num-of-cylinders'].count()

num-of-cylinders
eight       4
five       10
four      158
six        24
three       1
twelve      1
two         4
Name: num-of-cylinders, dtype: int64

In [42]:
cylinder_map = {
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'eight': 8,
    'twelve': 12
}

df_part2['num-of-cylinders'] = df_part2['num-of-cylinders'].map(cylinder_map)

C:\Users\tran_\AppData\Local\Temp\ipykernel_21416\4237906550.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_part2['num-of-cylinders'] = df_part2['num-of-cylinders'].map(cylinder_map)

In [43]:
df_part2

,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,compression-ratio,horsepower,price
0,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,111,13495
1,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,111,16500
2,171.2,65.5,52.4,2823,6,152,2.68,3.47,9.0,154,16500
3,176.6,66.2,54.3,2337,4,109,3.19,3.4,10.0,102,13950
4,176.6,66.4,54.3,2824,5,136,3.19,3.4,8.0,115,17450
...,...,...,...,...,...,...,...,...,...,...,...
197,188.8,68.8,55.5,3049,4,141,3.78,3.15,8.7,160,19045
198,188.8,68.9,55.5,3012,6,173,3.58,2.87,8.8,134,21485
199,188.8,68.9,55.5,3217,6,145,3.01,3.4,23.0,106,22470
200,188.8,68.9,55.5,3062,4,141,3.78,3.15,9.5,114,22625
201,188.8,68.9,55.5,3062,4,141,3.78,3.15,9.5,114,22625

In [45]:
df_part2 = df_part2.apply(pd.to_numeric, errors='coerce')
df_part2.dropna()
df_part2

,length,width,height,curb-weight,num-of-cylinders,engine-size,bore,stroke,compression-ratio,horsepower,price
0,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,111.0,13495
1,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,111.0,16500
2,171.2,65.5,52.4,2823,6,152,2.68,3.47,9.0,154.0,16500
3,176.6,66.2,54.3,2337,4,109,3.19,3.40,10.0,102.0,13950
4,176.6,66.4,54.3,2824,5,136,3.19,3.40,8.0,115.0,17450
...,...,...,...,...,...,...,...,...,...,...,...
197,188.8,68.8,55.5,3049,4,141,3.78,3.15,8.7,160.0,19045
198,188.8,68.9,55.5,3012,6,173,3.58,2.87,8.8,134.0,21485
199,188.8,68.9,55.5,3217,6,145,3.01,3.40,23.0,106.0,22470
200,188.8,68.9,55.5,3062,4,141,3.78,3.15,9.5,114.0,22625
201,188.8,68.9,55.5,3062,4,141,3.78,3.15,9.5,114.0,22625